
$drought-color: #c3a675;
$dust-haze-color: #666563;
$earthquakes-color: #93c945;
$floods-color: #2699da;
$landslides-color: #9b631a;
$manmade-color: #6f9b1a;
$sea-lakes-ice-color: #afd9ee;
$severe-storms-color: #192a9b;
$snow-color: #a4a3a7;
$temperature-extremes-color: #ff151a;
$volcanoes-color: #ff6500;
$water-color-color: #37759b;
$wildfires-color: #f3be08;


$drought-img: "drought.svg";
$dust-haze-img: "dust-haze.svg";
$earthquakes-img: "earthquakes.svg";
$floods-img: "floods.svg";
$landslides-img: "landslides.svg";
$manmade-img: "manmade.svg";
$sea-lakes-ice-img: "sea-lakes-ice.svg";
$severe-storms-img: "severe-storms.svg";
$snow-img: "snow.svg";
$temperature-extremes-img: "temperature-extremes.svg";
$volcanoes-img: "volcanoes.svg";
$water-color-img: "water-color.svg";
$wildfires-img: "wildfires.svg";
